.Rproj.user
.Rhistory
.RData
.Ruserdata
tidySummarizedExperiment.Rproj
README_cache/*
vignettes/introduction_cache*
tidySummarizedExperiment.Rproj
Meta
doc
dev/*csv
dev/*rds
dev/*rda
dev/*pdf
dev/dplyr-master/*
tidySummarizedExperiment.Rproj
